.asterisk {
    color: red;
    font-size: 1.25rem;
}

body {
    background-color: #cce6ff;
}

button {
    background-image: linear-gradient(to bottom, #fff 0%, #f4f4f4 50%, #ededed 100%);
    border: 1px solid;
    border-color: #d1d1d1;
    border-radius: 5px;
    box-shadow: inset 0 -2px #f6f6f6;
    font-size: .9rem;
}
.button-start {    
    margin-top: 2rem;
}

.contain-required {
    display: flex;
}

.full-width {
    width: 100%;
}

.input-error {
    color: red;
}

.required:after {
    color: red;
    content: " *";
    font-size: 1.25rem;
}

.row h3 {
    font-size: 1.25rem;
}
.row input:not([type=checkbox]) {
    margin-right: .1rem;
    width: 97%;
}
.row-padded {
    padding-bottom: .5rem;
}

.zdtools-heading {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}
