body {
    background-color: #cce6ff;
}

button {
    background-image: linear-gradient(to bottom, #fff 0%, #f4f4f4 50%, #ededed 100%);
    border: 1px solid;
    border-color: #d1d1d1;
    border-radius: 5px;
    box-shadow: inset 0 -2px #f6f6f6;
    font-size: .9rem;
}
.button-start {    
    margin-top: 2rem;
}

.full-width {
    width: 100%;
}

.row-padded {
    padding-bottom: .5rem;
}

.zdtools-heading {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}
