<!doctype html>
<html lang="en" ng-app="app">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <h2 class="zdtools-heading">Check Zendesk Tickets for Spam</h2>
    <div ng-controller="zdToolsController">
        <div class="container">
            <!-- Row with headings -->
            <div class="row">
                <div class="col-2">
                    <h4>String</h4>
                </div>
                <div class="col-8">
                    <h4>Tag names for:</h4>
                </div>
                <div class="col-2">
                    <h4>Solve ticket?</h4>
                </div>
            </div>
            <!-- Row with subheadings -->
            <div class="row row-padded">
                <div class="col-2">
                </div>
                <div class="col-2">
                    <h3>Spam detected</h3>
                </div>
                <div class="col-2">
                    <h3>No survey</h3>
                </div>
                <div class="col-2">
                    <h3>Checked by ZdTools</h3>
                </div>
                <div class="col-2">
                    <h3>Reviewed for spam</h3>
                </div>
                <div class="col-2">
                </div>
            </div>
            <!-- Row with input for Cyrillic characters -->
            <div class="row row-padded">
                <div class="col-2">
                    <label>Cyrillic alphabet</label>
                    <input type="checkbox" ng-model="checkCyrillic" />
                </div>
                <div class="col-2">
                    <div class="contain-required">
                        <input type="text" ng-model="tagNames.checkCyrillic.spamDetected">
                        <span class="asterisk" ng-show="checkCyrillic">*</span>
                    </div>                    
                    <div class="input-error" ng-show="!validInput.checkCyrillicSpamDetected">
                        <p>Tag must be specified for tickets that have Cyrillic characters</p>
                    </div>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="tagNames.checkCyrillic.noSurvey">
                </div>
                <div class="col-2">
                    <div class="contain-required">
                        <input type="text" ng-model="tagNames.checkCyrillic.tagCheckedByZdTools">
                        <span class="asterisk" ng-show="checkCyrillic">*</span>
                    </div>                    
                    <div class="input-error" ng-show="!validInput.checkCyrillicCheckedByZdTools">
                        <p>Tag must be specified for tickets already checked by this tool</p>
                    </div>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="tagNames.checkCyrillic.reviewedForSpam">
                </div>
                <div class="col-2">
                    <input type="checkbox" ng-model="solveCyrillicFound" />
                </div>
            </div>
 
            <!-- Row with input for string -->
            <div class="row">
                <div class="col-2">
                    <input type="text" ng-model="checkString">
                </div>
                <div class="col-2">
                    <div class="contain-required">
                        <input type="text" ng-model="tagNames.checkString.tagSpamDetected">
                        <span class="asterisk" ng-show="checkString">*</span>
                    </div>                   
                    <div class="input-error" ng-show="!validInput.checkStringSpamDetected">
                        <p>Tag must be specified for tickets that have the input string</p>
                    </div>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="tagNames.checkString.noSurvey">
                </div>
                <div class="col-2">
                    <div class="contain-required">
                        <input type="text" ng-model="tagNames.checkString.tagCheckedByZdTools">
                        <span class="asterisk" ng-show="checkString">*</span>
                    </div>                   
                    <div class="input-error" ng-show="!validInput.checkStringCheckedByZdTools">
                        <p>Tag must be specified for tickets already checked by this tool</p>
                    </div>
                </div>
                <div class="col-2">
                    <input type="text" ng-model="tagNames.checkCyrillic.reviewedForSpam">
                </div>
                <div class="col-2">
                    <input type="checkbox" ng-model="solveStringFound" />
                </div>
            </div>

            <hr />
            <!-- Row with input for log file -->
            <div class="row row-padded" ng-show="false">
                <div class="col-2">
                    Log file
                </div>
                <div class="col-5">
                    <input type="file" ng-model="logFileName">
                </div>
                <pre>logFileName: {{logFileName}}</pre>
                <div class="col-2">
                    <button>Browse...</button>
                </div>
                <div class="col-3">
                </div>
            </div>
            <!-- Row with inputs for API base and brand -->
            <div class="row row-padded">
                <div class="col-2">
                    Zendesk Info
                </div>
                <div class="col-5">
                    <label class="required">Zendesk API base URL (e.g. https://xyz.zendesk.com)</label>
                    <input class="full-width" ng-model="zdApiBaseUrl" type="text">
                    <div class="input-error" ng-show="!validInput.zdApiBaseUrlValid">
                        <p>Zendesk API base URL must be specified</p>
                    </div>
                </div>
                <div class="col-5">
                    <label>Zendesk brand</label>
                    <input class="full-width" ng-model="zdBrand" type="text">
                </div>
            </div>
            <!-- Row with inputs for email and token -->
            <div class="row row-padded">
                <div class="col-2">
                    Zendesk Credentials
                </div>
                <div class="col-5">
                    <label class="required">Email</label>
                    <input class="full-width" ng-model="zdEmail" type="text">
                    <div class="input-error" ng-show="!validInput.zdEmailValid">
                        <p>Email must be specified</p>
                    </div>
                </div>
                <div class="col-5">
                    <label class="required">API Token</label>
                    <input class="full-width" ng-model="zdApiToken" type="text">
                    <div class="input-error" ng-show="!validInput.zdApiTokenValid">
                        <p>API Token must be specified</p>
                    </div>
                </div>
            </div>

            <button class="button-start" ng-click="processTicketsStart()">Start processing tickets</button>
        </div>

    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>