<!doctype html>
<html lang="en" ng-app="app">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <h2 class="zdtools-heading">Check Zendesk Tickets for Spam</h2>
    <div ng-controller="zdToolsController">
        <div class="container">
            <!-- Row with headings -->
            <div class="row row-padded">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <h4>String</h4>
                </div>
                <div class="col-sm">
                    <h4>Tag to apply</h4>
                </div>
                <div class="col-sm">
                    <h4>Solve ticket?</h4>
                </div>
                <div class="col-sm">
                </div>
            </div>
            <!-- Row with input to specify Cyrillic characters -->
            <div class="row row-padded">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <label>All Cyrillic characters</label>
                    <input type="checkbox" ng-model="checkCyrillic" />
                </div>
                <div class="col-sm">
                    <input type="text" ng-model="tagCyrillicFound">
                    <div class="input-error" ng-show="!validInput.tagCyrillicFoundValid">
                        <p>Tag must be specified for tickets that have Cyrillic characters</p>
                    </div>
                </div>
                <div class="col-sm">
                    <input type="checkbox" ng-model="solveCyrillicFound" />
                </div>
                <div class="col-sm">
                </div>
            </div>
            <!-- Row with input to specify string -->
            <div class="row">
                <div class="col-sm">
                    <p>Specify string</p>
                </div>
                <div class="col-sm">
                    <input type="text" ng-model="checkString">
                </div>
                <div class="col-sm">
                    <input type="text" ng-model="tagStringFound">
                    <div class="input-error" ng-show="!validInput.tagStringFoundValid">
                        <p>Tag must be specified for tickets that have the input string</p>
                    </div>
                </div>
                <div class="col-sm">
                    <input type="checkbox" ng-model="solveStringFound" />
                </div>
                <div class="col-sm">
                </div>
            </div>
            <hr />
            <!-- Row with input for log file -->
            <div class="row row-padded" ng-show="false">
                <div class="col-2">
                    Log file
                </div>
                <div class="col-5">
                    <input type="file" ng-model="logFileName">
                </div>
                <pre>logFileName: {{logFileName}}</pre>
                <div class="col-2">
                    <button>Browse...</button>
                </div>
                <div class="col-3">
                </div>
            </div>
            <!-- Row with inputs for API base and brand -->
            <div class="row row-padded">
                <div class="col-2">
                    Zendesk Info
                </div>
                <div class="col-5">
                    <label>Zendesk API base URL (e.g. https://xyz.zendesk.com)</label>
                    <input class="full-width" ng-model="zdApiBaseUrl" type="text">
                    <div class="input-error" ng-show="!validInput.zdApiBaseUrlValid">
                        <p>Zendesk API base URL must be specified</p>
                    </div>
                </div>
                <div class="col-5">
                    <label>Zendesk brand</label>
                    <input class="full-width" ng-model="zdBrand" type="text">
                </div>
            </div>
            <!-- Row with input for ZD Credentials -->
            <div class="row row-padded">
                <div class="col-2">
                </div>
                <div class="col-5">
                    <label>Email</label>
                    <input class="full-width" ng-model="zdEmail" type="text">
                    <div class="input-error" ng-show="!validInput.zdEmailValid">
                        <p>Email must be specified</p>
                    </div>
                </div>
                <div class="col-5">
                    <label>API Token</label>
                    <input class="full-width" ng-model="zdApiToken" type="text">
                    <div class="input-error" ng-show="!validInput.zdApiTokenValid">
                        <p>API Token must be specified</p>
                    </div>
                </div>
            </div>

            <button class="button-start" ng-click="processTicketsStart()">Start processing tickets</button>
        </div>

    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>